
.banner {
  height: 100vh;
  background-size: cover;
  color: rgb(213,251,53);
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0;
}
.banner h1 {
  margin: 0;
  font-size: 62px;
  position: absolute;
  right: 300px;
  top: 150px;
}
.banner p {
  font-size: 24px;
  position: absolute;
  right: 100px;
  top: 250px;
  opacity: .8;
}
.banner a {
  color: rgb(213,251,53);
  padding: 20px;
  border: 1px solid rgb(213,251,53);
  border-radius: 12px;
  position: absolute;
  right: 350px;
  top: 450px;
  font-size: 36px;
  transition: .3s;
}
.banner a:hover {
opacity: .7;
}
.cards {
  color: rgb(213,251,53);
  display: flex;
  justify-content: space-around;
  background: black;
  height: 300px;
}
.card {
  background-size: cover;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: : 40px 0;
}
.main-container h2 {
  font-size: 36px;
}
.main-container {
  margin-top: 0;
  background: black;
  color: rgb(213,251,53);
  text-align: center;
}
.card h3 {
  margin: 0;
  padding-top: 150px;
  font-size: 36px;
}
.card p {
  opacity: .8;
}
.main-container img {
  width: 450px;
  height: 400px;
  padding-bottom: 60px;
}
.footer {
  margin-top: 30px;
  background: black;
  color: rgb(213,251,53);
  text-align: center;
  border-top: 2px solid rgb(213,251,53);
}
ul li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 32px;
}
.footer p {
  font-size: 12px;
  opacity: .8;
}
ul {
  padding-left: 0;
}
.footer a {
    color: rgb(213,251,53);
}
.footer a:hover {
  opacity: .7;
}



















